<!DOCTYPE html>
<html>
  <head>
    <title>Cake calucator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'cake.png' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <footer class="footer">
      &copy; <%= Time.now.year %> Zerradi Amine. All rights reserved.
    </footer>
  </body>
</html>
